/* Base - 1 layer
---------------------------------------------------------------------------------- */

@import "header.css";
@import "layout.css";
@import "responsive-layout.css";
@import "responsive-header.css";
@import "buttons.css";
@import "map.css";
@import "off-canvas-menu.css";

@import "../module/hotel.css";
@import "../module/open-hotel-panel.css";

body{
    min-width: 320px;
    overflow: scroll;
    padding-top: 50px;
    font-family: 'Helvetica Neue' !important;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.hidescroll{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.hidescroll::-webkit-scrollbar {
    display: none;
}

.hidden{
    overflow: hidden;
}

.img-responsive-height {
    width: 100%;
    height: 100%;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.45);
}
::-moz-placeholder{
    color: rgba(255, 255, 255, 0.45);
}
:-moz-placeholder{
    color: rgba(255, 255, 255, 0.45);
}
:-ms-input-placeholder{
    color: rgba(255, 255, 255, 0.45);
}

.font-s{
    font-size: 10px;
}

.font-m{
    font-size: 12px;
}

.font-l{
    font-size: 14px;
}

.font-xl{
    font-size: 16px;
}

.font-xxl{
    font-size: 18px;
}

.font-xxxl{
    font-size: 20px;
}

.font-lite{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    font-weight: 300;
}

/* /Base - 1 layer
---------------------------------------------------------------------------------- */