/* Base - 1 layer
---------------------------------------------------------------------------------- */

@import "header.css";
@import "layout.css";
@import "../module/hotel.css";
@import "responsive-layout.css";
@import "buttons.css";
@import "map.css";

body{
    min-width: 320px;
    overflow: scroll;
    padding-top: 50px;
    font-family: 'Helvetica Neue' !important;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.hidescroll::-webkit-scrollbar {
    display: none;
}

.img-responsive-height {
    width: 100%;
    height: 100%;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.45);
}
::-moz-placeholder{
    color: rgba(255, 255, 255, 0.45);
}
:-moz-placeholder{
    color: rgba(255, 255, 255, 0.45);
}
:-ms-input-placeholder{
    color: rgba(255, 255, 255, 0.45);
}

/* /Base - 1 layer
---------------------------------------------------------------------------------- */