/* Header
-------------------------------------------------- */

.header{
    position: fixed;

    width: 100%;
    height: 60px;

    background: #16b8d9;
    z-index: 20;
}

/*Search form*/
.header-search{
    display: inline-block;
}
.header-search_form{
    display: inline-block;

    position: absolute;
    left: 60px;
    right: 120px;
    top: 10px;
}

.header-search_form input{
    width: 100%;

    padding: 10px;

    background: transparent;
    color: #fff !important;

    border: 1px solid rgba(238, 246, 250, 0.15);
    border-radius: 5px;

    box-shadow: none;
}

.header-search_form input:hover{
    border: 1px solid rgba(238, 246, 250, 0.4);
}

.header-search_form input:focus{
    border: 1px solid rgba(238, 246, 250, 0.7);
}

/*/Search form*/

/* /Header */