/* Off canvas menu
-------------------------------------------------- */
.off-canvas-menu.open > .off-canvas-menu_mask{
    background: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;

    z-index: 30;
}

.filters{
    width: 300px;

    background: #fff;

    position: absolute;
    top: 0;
    bottom: 0;
    left: -300px;

    transition: left 0.2s ease-out;

    z-index: 40;
}

.off-canvas-menu.open > .filters{
    position: fixed;
    left: 0px;
}



@media only screen and (max-width: 619px){

    /*.layout.menu-open{*/
        /*left: 80% !important;*/
    /*}*/

    /*.off-canvas-menu.menu-open{*/
        /*width: 80% !important;;*/
    /*}*/
}

/* /Off canvas menu
-------------------------------------------------- */