/* Layout responsive
-------------------------------------------------- */

/* Mobile devises with max-width 619px */
@media only screen and (max-width: 619px){

    .column{
        width: 100% !important;
    }

    .map{
        display: none;
    }

    .hotel-open{
        left: 0px !important;
        width: 100% !important;
        z-index: 20 !important;
    }
}
/* /Mobile devises with max-width 619px */

/* Mobile devises and tablets with min-width 620px max-width 919px */
@media only screen and  (min-width: 620px) and (max-width: 919px){

    .column{
        width: 50%;
    }

    .map{
        display: none;
    }

    .hotel-open{
        left: 0px !important;
        width: 50% !important;
        z-index: 20 !important;
    }
}
/* /Mobile devises and tablets with min-width 620px max-width 919px */

/* Tablets and small PC with min-width 1219px*/
@media only screen and  (min-width: 1219px){

    .filters{
        transition: all .1s ease-out;
    }

    .off-canvas-menu_mask{
        transition: all 0.1s ease-out 0.1s;
    }
}

/* Tablets and small PC with min-width 920px max-width 1219px */
@media only screen and  (min-width: 920px) and (max-width: 1219px){

    .column{
        width: 50%;
    }

    .search-results{
        width: 620px;
        height: 100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .map{
        min-width: 299px;
        max-width: 600px;
        overflow: hidden;
    }
}
/* /Tablets and small PC with min-width 920px max-width 1219px */


/* PC with min-width 1220px max-width 1819px */
@media only screen and  (min-width: 1220px) and (max-width: 1819px){

    .column{
        width: 50%;
    }

    .search-results{
        width: 50%;
        height: 100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .map{
        min-width: 600px;
        max-width: 910px;
        overflow: hidden;
    }

}
/* PC with min-width 1220px max-width 1819px */


/* PC with min-width 1820px max-width 2719px */
@media only screen and  (min-width: 1820px) and (max-width: 2719px){

    .column{
        width: 33.3%;
    }

    .search-results{
        width: 50%;
        height: 100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .map{
        min-width: 910px;
        overflow: hidden;
    }
}
/* /PC with min-width 1820px max-width 2719px */

/* PC with min-width 2719px */
@media only screen and  (min-width: 2720px){

    .column{
        width: 446px;
    }

    .search-results{
        width: 1370px;
        height: 100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .map{
        min-width: 910px;
        overflow: hidden;
    }

}
/* /PC with min-width 2719px */

/* /Layout responsive */