/* Search results layout
-------------------------------------------------- */

.search-results {
    background: #f2f2f2;

    width: 100%;
    min-width: 320px;

    padding: 80px 10px 0;

    position: relative;
    float: left;

    z-index: 20;
}

.layout{
    position: absolute;

    width: 100%;
}

/* /Search results layout
-------------------------------------------------- */